<h3 class='text-info'>Registrar Actividad Científica Organizada</h3>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :titulo_evento, label: 'Título Evento' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :tipo_evento, label: 'Tipo Evento', sel_list: Aco::TIPOS_EVENTO } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :otro_tipo_evento, label: 'Otro Tipo de Evento' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :alcance, label: 'Alcance', sel_list: Aco::ALCANCES } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'number', token: :duracion_dias, label: 'Duración en Días' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'date', token: :fecha_inicio, label: 'Fecha Inicio' } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'date', token: :fecha_termino, label: 'Fecha Término' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :pais, label: 'País', sel_list: Aco::PAISES } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :ciudad, label: 'Ciudad' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'number', token: :n_asistentes, label: 'Número de Asistentes' } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'number', token: :n_expositores_milenio, label: 'Número expositores Milenio' } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'number', token: :n_expositores_extranjeros, label: 'Número expositores extranjeros' } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'number', token: :n_expositores_nacionales, label: 'Número expositores nacionales' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :investigador_responsable, label: 'Investigador Responsable' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'm_select', token: :publico_objetivo, ids: :publico_objetivo_ids, label: 'Público Objetivo', asociation: 'publico_objetivos', collection: PublicoObjetivo.all } %>
