<%= form_with(model: ae_i, local: true) do |form| %>
  <% if ae_i.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ae_i.errors.count, "error") %> prohibited this ae_i from being saved:</h2>

      <ul>
      <% ae_i.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :articulo_entrevista_id %>
    <%= form.number_field :articulo_entrevista_id %>
  </div>

  <div class="field">
    <%= form.label :investigador_id %>
    <%= form.number_field :investigador_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
