<p id="notice"><%= notice %></p>

<p>
  <strong>Articulo entrevista:</strong>
  <%= @ae_i.articulo_entrevista_id %>
</p>

<p>
  <strong>Investigador:</strong>
  <%= @ae_i.investigador_id %>
</p>

<%= link_to 'Edit', edit_ae_i_path(@ae_i) %> |
<%= link_to 'Back', ae_is_path %>
