<h3 class='text-info'> Registrar Artículo o Entrevista</h3>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :tema, label: 'Tema' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :actividad, label: 'Actividad', sel_list: ArticuloEntrevista::ACTIVIDADES } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text_area', token: :descripcion, label: 'Descripción Actividad' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :tipo_medio, label: 'Tipo Medio', sel_list: ArticuloEntrevista::TIPOS_MEDIO } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :nombre_medio, label: 'Nombre del Medio' } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :seccion, label: 'Sección' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'date', token: :fecha_publicacion, label: 'Fecha Publicación' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :alcance, label: 'Alcance', sel_list: ArticuloEntrevista::ALCANCES } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :link, label: 'Link a Articulo o Entrevista' } %>


<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'm_select', token: :publico_objetivo, ids: :publico_objetivo_ids, label: 'Público Objetivo', asociation: 'investigadores', collection: PublicoObjetivo.all } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'm_select', token: :linea_investigacion, ids: :linea_investigacion_ids, label: 'Líneas de Investigación', asociation: 'investigadores', collection: LineaInvestigacion.all } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'm_select', token: :investigador, ids: :investigador_ids, label: 'Investigadores del Centro Entrevistados', asociation: 'investigadores', collection: Investigador.all } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'file', token: :adjunto, label: 'Adjunto de Artículo o Entrevista' } %>


<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'hidden', token: :propietario } %>
