<h3 class='text-info'> Registrar Artículo o Entrevista</h3>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :tema, label: 'Tema', v: true } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :actividad, label: 'Actividad', sel_list: ArticuloEntrevista::ACTIVIDADES, v: true } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text_area', token: :descripcion, label: 'Descripción Actividad', v: true } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :tipo_medio, label: 'Tipo Medio', sel_list: ArticuloEntrevista::TIPOS_MEDIO, v: true } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :nombre_medio, label: 'Nombre del Medio', v: true } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :seccion, label: 'Sección', v: true } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'date', token: :fecha_publicacion, label: 'Fecha Publicación', v: true } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :alcance, label: 'Alcance', sel_list: ArticuloEntrevista::ALCANCES, v: true } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :link, label: 'Link a Articulo o Entrevista', v: true } %>


<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'm_select', token: :publico_objetivo, ids: :publico_objetivo_ids, label: 'Público Objetivo', asociation: 'investigadores', collection: PublicoObjetivo.all, v: false } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'm_select', token: :linea_investigacion, ids: :linea_investigacion_ids, label: 'Líneas de Investigación', asociation: 'investigadores', collection: LineaInvestigacion.all, v: false } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'm_select', token: :investigador, ids: :investigador_ids, label: 'Investigadores del Centro Entrevistados', asociation: 'investigadores', collection: Investigador.all, v: false } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'file', token: :adjunto, label: 'Adjunto de Artículo o Entrevista', v: false } %>


<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'hidden', token: :propietario } %>
