<p id="notice"><%= notice %></p>

<h1>Imagenes</h1>

<table>
  <thead>
    <tr>
      <th>Orden</th>
      <th>Imagen</th>
      <th>Nota</th>
      <th>Linea</th>
      <th>Directorio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @imagenes.each do |imagen| %>
      <tr>
        <td><%= imagen.orden %></td>
        <td><%= imagen.imagen %></td>
        <td><%= imagen.nota %></td>
        <td><%= imagen.linea_id %></td>
        <td><%= imagen.directorio_id %></td>
        <td><%= link_to 'Show', imagen %></td>
        <td><%= link_to 'Edit', edit_imagen_path(imagen) %></td>
        <td><%= link_to 'Destroy', imagen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Imagen', new_imagen_path %>
