<p id="notice"><%= notice %></p>

<p>
  <strong>Orden:</strong>
  <%= @imagen.orden %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @imagen.imagen %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @imagen.nota %>
</p>

<p>
  <strong>Linea:</strong>
  <%= @imagen.linea_id %>
</p>

<p>
  <strong>Directorio:</strong>
  <%= @imagen.directorio_id %>
</p>

<%= link_to 'Edit', edit_imagen_path(@imagen) %> |
<%= link_to 'Back', imagenes_path %>
