<p id="notice"><%= notice %></p>

<p>
  <strong>Orden:</strong>
  <%= @archivo.orden %>
</p>

<p>
  <strong>Archivo:</strong>
  <%= @archivo.archivo %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @archivo.nota %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @archivo.documento_id %>
</p>

<%= link_to 'Edit', edit_archivo_path(@archivo) %> |
<%= link_to 'Back', archivos_path %>
