<%= render partial: '0p/general/titulo', locals: {c: controller_name, a: nil, titulo: 'Administración', size: '5'} %>
<div class='row'>
	<div class='col-md-4'>
		<%= render partial: '0p/general/titulo', locals: {c: 'administradores', a: nil, titulo: 'Administradores', size: '5'} %>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'administradores', a: 'index'} %>
</br></br>
		<%= render partial: '0p/general/titulo', locals: {c: 'perfiles', a: nil, titulo: 'Perfiles Usuarios', size: '5'} %>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'perfiles', a: 'index'} %>
	</div>
	<div class='col-md-4'>
		<%= render partial: '0p/general/titulo', locals: {c: 'formato_cargas', a: nil, titulo: 'Formatos de Carga', size: '5'} %>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'formato_cargas', a: 'index'} %>
		<%= render partial: '0p/tabla/btn_nuevo', locals: {c: 'formato_cargas'} %>
	</div>
	<div class='col-md-4'>
		<%= render partial: '0p/general/titulo', locals: {c: 'tipo_publicaciones', a: nil, titulo: 'Tipos Publicación', size: '5'} %>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'tipo_publicaciones', a: 'index'} %>
		<%= render partial: '0p/tabla/btn_nuevo', locals: {c: 'tipo_publicaciones'} %>
	</div>
</div>
