<%= form_with(model: rfc_i, local: true) do |form| %>
  <% if rfc_i.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rfc_i.errors.count, "error") %> prohibited this rfc_i from being saved:</h2>

      <ul>
      <% rfc_i.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rf_colaboracion_id %>
    <%= form.number_field :rf_colaboracion_id %>
  </div>

  <div class="field">
    <%= form.label :investigador %>
    <%= form.number_field :investigador %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
