<p id="notice"><%= notice %></p>

<h1>Rfc Is</h1>

<table>
  <thead>
    <tr>
      <th>Rf colaboracion</th>
      <th>Investigador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rfc_is.each do |rfc_i| %>
      <tr>
        <td><%= rfc_i.rf_colaboracion_id %></td>
        <td><%= rfc_i.investigador %></td>
        <td><%= link_to 'Show', rfc_i %></td>
        <td><%= link_to 'Edit', edit_rfc_i_path(rfc_i) %></td>
        <td><%= link_to 'Destroy', rfc_i, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rfc I', new_rfc_i_path %>
