<p id="notice"><%= notice %></p>

<p>
  <strong>Rf colaboracion:</strong>
  <%= @rfc_i.rf_colaboracion_id %>
</p>

<p>
  <strong>Investigador:</strong>
  <%= @rfc_i.investigador %>
</p>

<%= link_to 'Edit', edit_rfc_i_path(@rfc_i) %> |
<%= link_to 'Back', rfc_is_path %>
