<p id="notice"><%= notice %></p>

<h1>Pc Is</h1>

<table>
  <thead>
    <tr>
      <th>Presentacion congreso</th>
      <th>Investigador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pc_is.each do |pc_i| %>
      <tr>
        <td><%= pc_i.presentacion_congreso_id %></td>
        <td><%= pc_i.investigador_id %></td>
        <td><%= link_to 'Show', pc_i %></td>
        <td><%= link_to 'Edit', edit_pc_i_path(pc_i) %></td>
        <td><%= link_to 'Destroy', pc_i, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pc I', new_pc_i_path %>
