<table  class="table table-striped">
	<tbody>

		<% c.classify.constantize::SHOW_FIELDS.each do |field| %>
			<% if filtro_conditional_field?(@objeto, field[0]) %>
				<tr>
					<% case field[1] %>
					<% when 'normal' %>
						<% if c.classify.constantize.column_names.include?(field[0]) %>
							<td><small> <%= field[0] %> </small></td>
							<td><small> <%=  o[field[0]] %> </small></td>
						<% else %>
							<td><small> <%= field[0] %> </small></td>
							<td><small> <%= get_field(field[0], o) %> </small></td>
						<% end %>
					<% when 'metodo' %>
						<td><small> <%= field[0] %> </small></td>
						<td><small> <%=  o.send(field[0]) %> </small></td>
					<% when 'diahora' %>

						<% if c.classify.constantize.column_names.include?(field[0]) %>
							<td><small> <%= field[0] %> </small></td>
							<td><small> <%=  l(o[field[0]]) %> </small></td>
						<% else %>
							<td><small> <%= field[0] %> </small></td>
							<td><small> <%= l(get_field(field[0], o)) %> </small></td>
						<% end %>

					<% end %>
				</tr>
			<% end %>
		<% end %>

	</tbody>
</table>
