<h3 class='text-info'>Registrar Vínculo con Otros Sectores</h3>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :actividad, label: 'Actividad' } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :tipo_conexion, label: 'Tipo de Conexion' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :tipo_actividad, label: 'Tipo de Actividad', sel_list: Vinculo::TIPOS_ACTIVIDAD } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :otro_tipo_actividad, label: 'Otro tipo de Actividad' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text_area', token: :objetivo_actividad, label: 'Objetivo Actividad' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'date', token: :fecha_inicio, label: 'Fecha Inicio' } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'date', token: :fecha_termino, label: 'Fecha Término' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :investigador_encargado, label: 'Investigador Encargado', sel_list: Investigador.all.map {|inv| inv.investigador} } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'number', token: :fondos_pesos, label: 'Fondos Aportados en Pesos (excluyendo lo aportado por el Centro Milenio)' } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'number', token: :fondos_dolares, label: 'Fondos Aportados en Dólares' } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'number', token: :costo_vinculo_pesos, label: 'Costo Total del Vínculo en Pesos' } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'number', token: :costo_vinculo_dolares, label: 'Costo Total del Vínculo en Dólares' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :nombre_institucion, label: 'Nombre de la Institución' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :pais_institucion, label: 'País de la Institución', sel_list: Pais.all.map {|pais| pais.pais} } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :region_institucion, label: 'Región de Institución', sel_list: Investigador::REGIONES } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :ciudad, label: 'Ciudad' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :tipo_institucion, label: 'Tipo de Institución', sel_list: Vinculo::TIPOS_INSTITUCION } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :otro_tipo_institucion, label: 'Otro Tipo de Institución' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :sector_economico, label: 'Sector Económico', sel_list: Vinculo::SECTORES_ECONOMICOS } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :otro_sector_economico, label: 'Otro Sector Económico' } %>


<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'hidden', token: :propietario } %>
