<!-- TITULO -->
<!-- size: determina el tamaño del font -->
<!-- titulo: Es el texto del título -->
<!-- a e {'index', 'seleccion', 'new', 'edit' -->
<h<%= size%>>
<div class="p-3 mb-2 bg-<%=c_color(c)%> text-white">
	<% case a %>
	<% when 'index' %>
		<%= c.humanize %>
	<% when 'seleccion' %>
		<%= "? Selecciona #{c.humanize.singularize}" %>
	<% when 'new' %>
		<%= "+ #{c.humanize.singularize}" %>
	<% when 'edit' %>
		<%= "~ #{c.humanize.singularize}" %>
	<% else %>
		<%= titulo %>
	<% end %>
</div>
</h<%= size%>>
