<p id="notice"><%= notice %></p>

<h1>Fj Dis</h1>

<table>
  <thead>
    <tr>
      <th>Formacion joven</th>
      <th>Disciplina</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fj_dis.each do |fj_di| %>
      <tr>
        <td><%= fj_di.formacion_joven_id %></td>
        <td><%= fj_di.disciplina_id %></td>
        <td><%= link_to 'Show', fj_di %></td>
        <td><%= link_to 'Edit', edit_fj_di_path(fj_di) %></td>
        <td><%= link_to 'Destroy', fj_di, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fj Di', new_fj_di_path %>
