<p id="notice"><%= notice %></p>

<p>
  <strong>Formacion joven:</strong>
  <%= @fj_di.formacion_joven_id %>
</p>

<p>
  <strong>Disciplina:</strong>
  <%= @fj_di.disciplina_id %>
</p>

<%= link_to 'Edit', edit_fj_di_path(@fj_di) %> |
<%= link_to 'Back', fj_dis_path %>
