<p id="notice"><%= notice %></p>

<p>
  <strong>Presentacion congreso:</strong>
  <%= @pc_iotro.presentacion_congreso_id %>
</p>

<p>
  <strong>Investigador:</strong>
  <%= @pc_iotro.investigador_id %>
</p>

<%= link_to 'Edit', edit_pc_iotro_path(@pc_iotro) %> |
<%= link_to 'Back', pc_iotros_path %>
