<h5 class='text-info'><%= name_list %></h5>
<% side_list(name_list).each do |elemento| %>
	<small>

	<div class='row'>
		<div class="col-md-<%= elemento[0]-1%>"></div>
		<div class="col-md-<%= 12 - elemento[0]+1%>">
			<% case elemento[1] %>
			<% when 'item' %>
				<% if @t == elemento[2] %>
					<b class='text-primary'><%= elemento[2] %></b>
				<% else %>
					<%= link_to elemento[2], "#{link}?t=#{elemento[2]}" %>
				<% end %>
			<% when 'list' %>
				<%= elemento[2] %>
			<% end %>
		</div>
	</div>

	</small>
<% end %>
