<p id="notice"><%= notice %></p>

<h1>I Lis</h1>

<table>
  <thead>
    <tr>
      <th>Investigador</th>
      <th>Linea investigacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @i_lis.each do |i_li| %>
      <tr>
        <td><%= i_li.investigador_id %></td>
        <td><%= i_li.linea_investigacion_id %></td>
        <td><%= link_to 'Show', i_li %></td>
        <td><%= link_to 'Edit', edit_i_li_path(i_li) %></td>
        <td><%= link_to 'Destroy', i_li, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New I Li', new_i_li_path %>
