<p id="notice"><%= notice %></p>

<p>
  <strong>Investigador:</strong>
  <%= @i_li.investigador_id %>
</p>

<p>
  <strong>Linea investigacion:</strong>
  <%= @i_li.linea_investigacion_id %>
</p>

<%= link_to 'Edit', edit_i_li_path(@i_li) %> |
<%= link_to 'Back', i_lis_path %>
