<!-- Bot贸n Nuevo si hay MAS de 15 registros -->
<!-- SOLO controladores con bot贸n nuevo -->
<% if new_button_conditions(c) and a != 'seleccion' %>
  <!-- que NO son inline_form -->
  <% unless inline_form?(c) %>
    <% if @coleccion[c].count > 15 %>
      <%= render partial: '0p/general/btn_turbolink', locals: {texto: cristiano(c, 'controller', 'singular'), gly: 'plus-circle', link: get_new_link(c), clr: color(c), delete: false} %>

      </br></br>
      
    <% end %>
  <% else %>
    <%= render partial: "#{c}/inline_nuevo", locals: {c: c, a: a} %>
  <% end %>
<% end %>

<%= paginate @coleccion[c] if @paginate %>

<table class="table table-striped table-sm  thead-dark">
  <thead>
   	<%= render partial: '0p/tabla/th', locals: {c: alias_tabla(c)} unless ['directorios', 'documentos', 'archivos', 'imagenes'].include?(c) %>
  </thead>

  <tbody>
  	<!-- Opci贸n para evitar escribir el parcial _modelo.html.erb en cada controlador-->
  	<% unless @coleccion[c].blank? %>
	  	<% @coleccion[c].each do |objeto| %>
		  	<%= render partial: "/0p/tabla/modelo", locals: {a: a, objeto: objeto} %>
		<% end  %>
  	<% end %>
  </tbody>
</table>

<!-- SOLO controladores con bot贸n nuevo -->
<% if new_button_conditions(c) and a != 'seleccion' %>
  <!-- que NO son inline_form -->
  <% unless inline_form?(c) %>

    <%= render partial: '0p/general/btn_turbolink', locals: {texto: cristiano(c, 'controller', 'singular'), gly: 'plus-circle', link: get_new_link(c), clr: color(c), delete: false} %>

  <% end %>
<% end %>
