<p id="notice"><%= notice %></p>

<h1>P Lis</h1>

<table>
  <thead>
    <tr>
      <th>Publicacion</th>
      <th>Linea investigacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @p_lis.each do |p_li| %>
      <tr>
        <td><%= p_li.publicacion_id %></td>
        <td><%= p_li.linea_investigacion_id %></td>
        <td><%= link_to 'Show', p_li %></td>
        <td><%= link_to 'Edit', edit_p_li_path(p_li) %></td>
        <td><%= link_to 'Destroy', p_li, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New P Li', new_p_li_path %>
