<p id="notice"><%= notice %></p>

<p>
  <strong>Publicacion:</strong>
  <%= @p_li.publicacion_id %>
</p>

<p>
  <strong>Linea investigacion:</strong>
  <%= @p_li.linea_investigacion_id %>
</p>

<%= link_to 'Edit', edit_p_li_path(@p_li) %> |
<%= link_to 'Back', p_lis_path %>
