<p id="notice"><%= notice %></p>

<p>
  <strong>Producto pme:</strong>
  <%= @pp_fjo.producto_pme_id %>
</p>

<p>
  <strong>Formacion joven:</strong>
  <%= @pp_fjo.formacion_joven_id %>
</p>

<%= link_to 'Edit', edit_pp_fjo_path(@pp_fjo) %> |
<%= link_to 'Back', pp_fjos_path %>
