<%= form_with(model: i_ga, local: true) do |form| %>
  <% if i_ga.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(i_ga.errors.count, "error") %> prohibited this i_ga from being saved:</h2>

      <ul>
      <% i_ga.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :investigador_id %>
    <%= form.number_field :investigador_id %>
  </div>

  <div class="field">
    <%= form.label :grado_academico_id %>
    <%= form.number_field :grado_academico_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
