<p id="notice"><%= notice %></p>

<h1>I Gas</h1>

<table>
  <thead>
    <tr>
      <th>Investigador</th>
      <th>Grado academico</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @i_gas.each do |i_ga| %>
      <tr>
        <td><%= i_ga.investigador_id %></td>
        <td><%= i_ga.grado_academico_id %></td>
        <td><%= link_to 'Show', i_ga %></td>
        <td><%= link_to 'Edit', edit_i_ga_path(i_ga) %></td>
        <td><%= link_to 'Destroy', i_ga, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New I Ga', new_i_ga_path %>
