<%= render partial: '0p/general/o_titulo', locals: {o: @objeto, a: action_name, size: '5'} %>
<%= render partial: '0p/general/btn', locals: {texto: 'Respositorio', link: directorios_path, delete: false, style: 'btn-outline-dark', clr: c_color(controller_name)} %>
<% @padres.each do |padre| %>
	<%= render partial: '0p/general/btn', locals: {texto: padre.directorio, link: padre, delete: false, style: 'btn-outline-dark', clr: c_color(controller_name)} %>
<% end %>
</br></br>
<div class='row'>
	<div class='col-md-6'>
		<%= render partial: '0p/general/titulo', locals: {c: 'directorios', a: 'index', titulo: 'Directorios', size: '5'} %>
		<%= form_for :nuevo_directorio, url: "/directorios/nuevo?objeto_id=#{@objeto.id}" do |form| %>
			<div class='form-inline'>
				<%= form.text_field(:directorio, size: 60, class: 'form-control' ) %>
				<%= form.submit '+'  %>
			</div>
		<% end  %>
		<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'directorios', a: 'index'} %>

		<%= render partial: '0p/general/titulo', locals: {c: 'documentos', a: 'index', titulo: 'Documentos', size: '5'} %>
		<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'documentos', a: 'index'} %>
		<%= render partial: '0p/tabla/ext_btn_nuevo', locals: {o: @objeto, c: 'documentos'} %>
		</br></br>

		<%#= render partial: '0p/general/titulo', locals: {c: 'archivos', a: 'index', titulo: 'Archivos', size: '5'} %>
		<%#= render partial: '0p/tabla/solo_tabla', locals: {c: 'archivos', a: 'index'} %>
		<%#= render partial: '0p/tabla/ext_btn_nuevo', locals: {o: @objeto, c: 'archivos'} %>
	</div>
	<div class='col-md-6'>
		<%= render partial: '0p/general/titulo', locals: {c: 'imagenes', a: 'index', titulo: 'Imagenes', size: '5'} %>
		<%= paginate @coleccion['imagenes'] %>
		<%= render partial: '/aplicacion/imagenes/img_index', locals: {coleccion: @coleccion['imagenes']} %>
		<%= render partial: '0p/tabla/ext_btn_nuevo', locals: {o: @objeto, c: 'imagenes'} %>
	</div>
</div>