<h3 class='text-info'> Ingresar Investigador</h3>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'radio', token: :tipo_documento, label: 'Tipo Documento', radio_list: ['RUT', 'Pasaporte'] } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :rut_pasaporte, label: 'N° RUT / Pasaporte ( Formato de RUT: 12345678-9 )' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :nombres, label: 'Nombres' } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :paterno, label: 'Apellido Paterno' } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :materno, label: 'Apellido Materno' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :direccion_correspondencia, label: 'Dirección Correspondencia' } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :comuna, label: 'Comuna' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :region, label: 'Región Correspondencia', sel_list: Investigador::REGIONES } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'date', token: :fecha_nacimiento, label: 'Fecha de Nacimiento' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :nacionalidad, label: 'Nacionalidad', sel_list: Investigador::NACIONALIDADES } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'radio', token: :genero, label: 'Género', radio_list: ['Masculino', 'Femenino'] } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :categoria, label: 'Categoría', sel_list: Investigador::CATEGORIAS } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'number', token: :horas_dedicacion, label: 'Horas Dedicación' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :profesion, label: 'Profesión', sel_list: Investigador::PROFESIONES } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :otra_profesion, label: 'Otra Profesión' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'm_select', token: :grado_academico, ids: :grado_academico_ids, label: 'Grados Académicos', asociation: 'grado_academicos', collection: GradoAcademico.all } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :institucion, label: 'Institución a la que pertenece' } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :cargo, label: 'Cargo Actual' } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :email, label: 'E-mail' } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :telefono_1, label: 'Telefono 1' } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :telefono_2, label: 'Telefono 2' } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :celular, label: 'Celular' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'm_select', token: :linea_investigacion, ids: :linea_investigacion_ids, label: 'Líneas de Investigación Vinculadas', asociation: 'linea_investigaciones', collection: LineaInvestigacion.all } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'm_select', token: :disciplina, ids: :disciplina_ids, label: 'Disciplinas Vinculadas', asociation: 'disciplinas', collection: Disciplina.all } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :fuente_financiamiento, label: 'Fuentes de Financiamiento', sel_list: Investigador::FINANCIAMIENTOS } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :relacion_centro, label: 'Relación con Centro', sel_list: Investigador::RELACION_CENTRO } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'date', token: :fecha_inicio, label: 'Fecha Inicio' } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'date', token: :fecha_termino, label: 'Fecha Término' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :vigencia, label: 'Vigencia' } %>


<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'hidden', token: :propietario } %>
