<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo documento:</strong>
  <%= @investigador.tipo_documento %>
</p>

<p>
  <strong>Rut pasaporte:</strong>
  <%= @investigador.rut_pasaporte %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @investigador.nombres %>
</p>

<p>
  <strong>Paterno:</strong>
  <%= @investigador.paterno %>
</p>

<p>
  <strong>Materno:</strong>
  <%= @investigador.materno %>
</p>

<p>
  <strong>Direccion correspondencia:</strong>
  <%= @investigador.direccion_correspondencia %>
</p>

<p>
  <strong>Region:</strong>
  <%= @investigador.region_id %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @investigador.fecha_nacimiento %>
</p>

<p>
  <strong>Nacionalidad:</strong>
  <%= @investigador.nacionalidad_id %>
</p>

<p>
  <strong>Profesion:</strong>
  <%= @investigador.profesion_id %>
</p>

<p>
  <strong>Otra profesion:</strong>
  <%= @investigador.otra_profesion %>
</p>

<p>
  <strong>Institucion:</strong>
  <%= @investigador.institucion %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @investigador.cargo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @investigador.email %>
</p>

<p>
  <strong>Telefono 1:</strong>
  <%= @investigador.telefono_1 %>
</p>

<p>
  <strong>Telefono 2:</strong>
  <%= @investigador.telefono_2 %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @investigador.celular %>
</p>

<p>
  <strong>Fuente financiamiento:</strong>
  <%= @investigador.fuente_financiamiento %>
</p>

<p>
  <strong>Relacion centro:</strong>
  <%= @investigador.relacion_centro %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @investigador.fecha_inicio %>
</p>

<p>
  <strong>Fecha termino:</strong>
  <%= @investigador.fecha_termino %>
</p>

<p>
  <strong>Vigencia:</strong>
  <%= @investigador.vigencia %>
</p>

<%= link_to 'Edit', edit_investigador_path(@investigador) %> |
<%= link_to 'Back', investigadores_path %>
