<p id="notice"><%= notice %></p>

<h1>Ad Is</h1>

<table>
  <thead>
    <tr>
      <th>Actividad difusion</th>
      <th>Investigador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ad_is.each do |ad_i| %>
      <tr>
        <td><%= ad_i.actividad_difusion_id %></td>
        <td><%= ad_i.investigador_id %></td>
        <td><%= link_to 'Show', ad_i %></td>
        <td><%= link_to 'Edit', edit_ad_i_path(ad_i) %></td>
        <td><%= link_to 'Destroy', ad_i, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ad I', new_ad_i_path %>
