<p id="notice"><%= notice %></p>

<p>
  <strong>Actividad difusion:</strong>
  <%= @ad_i.actividad_difusion_id %>
</p>

<p>
  <strong>Investigador:</strong>
  <%= @ad_i.investigador_id %>
</p>

<%= link_to 'Edit', edit_ad_i_path(@ad_i) %> |
<%= link_to 'Back', ad_is_path %>
