<%= form_with(model: li_di, local: true) do |form| %>
  <% if li_di.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(li_di.errors.count, "error") %> prohibited this li_di from being saved:</h2>

      <ul>
      <% li_di.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ĺinea_investigacion_id %>
    <%= form.number_field :ĺinea_investigacion_id %>
  </div>

  <div class="field">
    <%= form.label :disciplina_id %>
    <%= form.number_field :disciplina_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
