<p id="notice"><%= notice %></p>

<h1>Li Dis</h1>

<table>
  <thead>
    <tr>
      <th>ĺinea investigacion</th>
      <th>Disciplina</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @li_dis.each do |li_di| %>
      <tr>
        <td><%= li_di.ĺinea_investigacion_id %></td>
        <td><%= li_di.disciplina_id %></td>
        <td><%= link_to 'Show', li_di %></td>
        <td><%= link_to 'Edit', edit_li_di_path(li_di) %></td>
        <td><%= link_to 'Destroy', li_di, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Li Di', new_li_di_path %>
