<p id="notice"><%= notice %></p>

<p>
  <strong>ĺinea investigacion:</strong>
  <%= @li_di.ĺinea_investigacion_id %>
</p>

<p>
  <strong>Disciplina:</strong>
  <%= @li_di.disciplina_id %>
</p>

<%= link_to 'Edit', edit_li_di_path(@li_di) %> |
<%= link_to 'Back', li_dis_path %>
