<%= form_with(model: tema_ayuda, local: true) do |form| %>
  <% if tema_ayuda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tema_ayuda.errors.count, "error") %> prohibited this tema_ayuda from being saved:</h2>

      <ul>
      <% tema_ayuda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :orden %>
    <%= form.number_field :orden %>
  </div>

  <div class="field">
    <%= form.label :tema_ayuda %>
    <%= form.text_field :tema_ayuda %>
  </div>

  <div class="field">
    <%= form.label :detalle %>
    <%= form.text_area :detalle %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo %>
  </div>

  <div class="field">
    <%= form.label :ilustracion %>
    <%= form.text_field :ilustracion %>
  </div>

  <div class="field">
    <%= form.label :ilustracion_cache %>
    <%= form.text_field :ilustracion_cache %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
