<p id="notice"><%= notice %></p>

<h1>Aco Pos</h1>

<table>
  <thead>
    <tr>
      <th>Aco</th>
      <th>Publico objetivo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aco_pos.each do |aco_po| %>
      <tr>
        <td><%= aco_po.aco_id %></td>
        <td><%= aco_po.publico_objetivo_id %></td>
        <td><%= link_to 'Show', aco_po %></td>
        <td><%= link_to 'Edit', edit_aco_po_path(aco_po) %></td>
        <td><%= link_to 'Destroy', aco_po, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aco Po', new_aco_po_path %>
