<p id="notice"><%= notice %></p>

<h1>Ci Is</h1>

<table>
  <thead>
    <tr>
      <th>Comite editorial</th>
      <th>Investigador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ci_is.each do |ci_i| %>
      <tr>
        <td><%= ci_i.comite_editorial_id %></td>
        <td><%= ci_i.investigador_id %></td>
        <td><%= link_to 'Show', ci_i %></td>
        <td><%= link_to 'Edit', edit_ci_i_path(ci_i) %></td>
        <td><%= link_to 'Destroy', ci_i, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ci I', new_ci_i_path %>
