<h3 class='text-info'>Registrar Comité Editorial</h3>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'm_select', token: :investigador, ids: :investigador_ids, label: 'Miembro Comité', asociation: 'investigadores', collection: Investigador.all } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :nombre_publicacion, label: 'Nombre Publicación' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :categoria, label: 'Categoría', sel_list: Publicacion::CATEGORIAS } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :otra_categoria, label: 'Otra Categoría' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'number', token: :anio_inicio, label: 'Año Inicio' } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'number', token: :anio_termino, label: 'Año Término' } %>


<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'hidden', token: :propietario } %>
