<div class='row'>
	<div class='col-md-6'>

		<h3 class='text-info'>Registrar Comité Editorial</h3>

	</div>
</div>

<div class='row'>
	<div class='col-md-6'>

		<small><%= form.label 'Miembro Comité' %></small></br>

		<ul>
		<% @objeto.investigadores.each do |inv| %>
			<li><%= inv.investigador %></li>
		<% end %>
		</ul>
	</div>
	<div class='col-md-6'>
		<%= form.select :investigador_ids,
		    options_from_collection_for_select(Investigador.all, :id, :investigador),
		    { include_blank: false },
		    multiple: true,
		    class: 'select multiple-select',
		    size: 5 %>
	</div>
</div>

<div class='row'>
	<div class='col-md-6'>

		<small><%= form.label 'Nombre Publicación' %></small></br>
		<%= form.text_field(:nombre_publicacion, size: 74, class: 'form-control-sm') %>
		<small><%= form.label 'Categoría' %></small></br>
		<%= form.select :categoria, Publicacion::CATEGORIAS, prompt: "Categoría?" %></br>

		<small><%= form.label 'Otra Categoría' %></small></br>
		<%= form.text_field(:otra_categoria, size: 74, class: 'form-control-sm') %>
		<small><%= form.label 'Año Inicio' %></small></br>
		<%= form.text_field(:anio_inicio, size: 74, class: 'form-control-sm') %>
		<small><%= form.label 'Año Término' %></small></br>
		<%= form.text_field(:anio_termino, size: 74, class: 'form-control-sm') %>

	</div>
</div>
