<%= form_with(model: tf_li, local: true) do |form| %>
  <% if tf_li.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tf_li.errors.count, "error") %> prohibited this tf_li from being saved:</h2>

      <ul>
      <% tf_li.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tesis_finalizada_id %>
    <%= form.number_field :tesis_finalizada_id %>
  </div>

  <div class="field">
    <%= form.label :LineaInvestigacion %>
    <%= form.number_field :LineaInvestigacion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
