<p id="notice"><%= notice %></p>

<h1>Tf Lis</h1>

<table>
  <thead>
    <tr>
      <th>Tesis finalizada</th>
      <th>Lineainvestigacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tf_lis.each do |tf_li| %>
      <tr>
        <td><%= tf_li.tesis_finalizada_id %></td>
        <td><%= tf_li.LineaInvestigacion %></td>
        <td><%= link_to 'Show', tf_li %></td>
        <td><%= link_to 'Edit', edit_tf_li_path(tf_li) %></td>
        <td><%= link_to 'Destroy', tf_li, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tf Li', new_tf_li_path %>
