<%= form_with(model: paso, local: true) do |form| %>
  <% if paso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paso.errors.count, "error") %> prohibited this paso from being saved:</h2>

      <ul>
      <% paso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :orden %>
    <%= form.number_field :orden %>
  </div>

  <div class="field">
    <%= form.label :paso %>
    <%= form.text_field :paso %>
  </div>

  <div class="field">
    <%= form.label :detalle %>
    <%= form.text_area :detalle %>
  </div>

  <div class="field">
    <%= form.label :tutorial_id %>
    <%= form.number_field :tutorial_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
