<p id="notice"><%= notice %></p>

<h1>Pasos</h1>

<table>
  <thead>
    <tr>
      <th>Orden</th>
      <th>Paso</th>
      <th>Detalle</th>
      <th>Tutorial</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pasos.each do |paso| %>
      <tr>
        <td><%= paso.orden %></td>
        <td><%= paso.paso %></td>
        <td><%= paso.detalle %></td>
        <td><%= paso.tutorial_id %></td>
        <td><%= link_to 'Show', paso %></td>
        <td><%= link_to 'Edit', edit_paso_path(paso) %></td>
        <td><%= link_to 'Destroy', paso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paso', new_paso_path %>
