<p id="notice"><%= notice %></p>

<p>
  <strong>Orden:</strong>
  <%= @paso.orden %>
</p>

<p>
  <strong>Paso:</strong>
  <%= @paso.paso %>
</p>

<p>
  <strong>Detalle:</strong>
  <%= @paso.detalle %>
</p>

<p>
  <strong>Tutorial:</strong>
  <%= @paso.tutorial_id %>
</p>

<%= link_to 'Edit', edit_paso_path(@paso) %> |
<%= link_to 'Back', pasos_path %>
