<p id="notice"><%= notice %></p>

<h1>Pp Is</h1>

<table>
  <thead>
    <tr>
      <th>Producto pme</th>
      <th>Investigador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pp_is.each do |pp_i| %>
      <tr>
        <td><%= pp_i.producto_pme_id %></td>
        <td><%= pp_i.investigador_id %></td>
        <td><%= link_to 'Show', pp_i %></td>
        <td><%= link_to 'Edit', edit_pp_i_path(pp_i) %></td>
        <td><%= link_to 'Destroy', pp_i, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pp I', new_pp_i_path %>
