<p id="notice"><%= notice %></p>

<p>
  <strong>Producto pme:</strong>
  <%= @pp_i.producto_pme_id %>
</p>

<p>
  <strong>Investigador:</strong>
  <%= @pp_i.investigador_id %>
</p>

<%= link_to 'Edit', edit_pp_i_path(@pp_i) %> |
<%= link_to 'Back', pp_is_path %>
