<%= image_tag("logo.jpg", class: "img-responsive", id: "logo") if config_aplicacion(:banner) %>
<!--nav class="navbar navbar-expand-lg navbar-light bg-light"-->
<nav class="navbar navbar-expand-lg navbar-dark bg-<%=config_navbar(:color)%>">
  <div class="container-fluid">

    <% if config_navbar(:logo) %>
      <a class="navbar-brand" href="<%=config_aplicacion(:home_link)%>">
        <%= image_tag("logo_navbar.gif", height: "40", class: "img-responsive", id: "navbar-logo") %>
      </a>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <% unless nomenu?(controller_name) %>
            <% menu.each do |item| %>
              <% if item[1] == 'pull_down_item' %>
                <%= render partial: '0p/navbar/dropdown', locals: {nombre: item[0], drop_items: dropdown_items(item[0])} %>
              <% else %>
                <%= render partial: '0p/navbar/btn', locals: {nombre: item[0].capitalize, link: item[1], active: item_active(item[1]), delete: false} if display_item_menu?(item[0], item[2]) %>
              <% end %>
            <% end %>
        <% end %>
        <%= render partial: 'aplicacion/parciales/recursos_dropdown_menu' if usuario_signed_in? %>
      </ul>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <%= render partial: 'help/0help/tema_ayuda/dropdown_menu' if config_navbar(:item_ayuda) %>

        <% if usuario_signed_in? %>

          <%= render partial: '0p/navbar/btn', locals: {nombre: 'Contacto', link: mensajes_path, active: controller_name == 'contactos', delete: false} if config_navbar(:item_contacto) %>

          <%= render partial: '0p/navbar/btn', locals: {nombre: 'Salir', link: destroy_usuario_session_path, active: false, delete: true} %>
        <% else %>
          <%= render partial: '0p/navbar/btn', locals: {nombre: 'Contacto', link: new_mensaje_path, active: controller_name == 'contactos', delete: false} if config_navbar(:item_contacto) %>

          <%= render partial: '0p/navbar/btn', locals: {nombre: 'Ingreso', link: new_usuario_session_path, active: (controller_name == 'sessions'), delete: false} %>
          <%= render partial: '0p/navbar/btn', locals: {nombre: 'Registro', link: new_usuario_registration_path, active: (controller_name == 'registrations'), delete: false} %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
</br>
