<%= form_with(model: fj_i, local: true) do |form| %>
  <% if fj_i.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fj_i.errors.count, "error") %> prohibited this fj_i from being saved:</h2>

      <ul>
      <% fj_i.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :formacion_joven_id %>
    <%= form.number_field :formacion_joven_id %>
  </div>

  <div class="field">
    <%= form.label :investigador_id %>
    <%= form.number_field :investigador_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
