<p id="notice"><%= notice %></p>

<p>
  <strong>Formacion joven:</strong>
  <%= @fj_i.formacion_joven_id %>
</p>

<p>
  <strong>Investigador:</strong>
  <%= @fj_i.investigador_id %>
</p>

<%= link_to 'Edit', edit_fj_i_path(@fj_i) %> |
<%= link_to 'Back', fj_is_path %>
