<div class='row'>
	<div class='col-md-1'></div>
	<div class='col-md-6'>
		</br>
		<h<%=tema_home_setup[:titulo_size]%> class="text-<%=tema_home_setup[:titulo_color]%>"><%= elem.tema_ayuda %></h<%=tema_home_setup[:titulo_size]%>>
		<h<%=tema_home_setup[:detalle_size]%> class='text-<%=tema_home_setup[:detalle_color]%>'>
			<%= sanitize elem.d_detalle %>
		</h<%=tema_home_setup[:detalle_size]%>>
	</div>
	<div class='col-md-4'>
		</br></br></br>
		<%= render partial: '0p/imagenes/ilustracion', locals: {objeto: elem, class_image: tema_home_setup[:clase], size: tema_home_setup[:size] } %>

		<% unless elem.credito_foto.blank? %>
			<small><p class='text-center'><i>Crédito Fotografía: <b><%= sanitize elem.credito_foto %></b></i></p></small>
		<% end %>
	</div>
	<div class='col-md-1'></div>
</div>