<p id="notice"><%= notice %></p>

<h1>I Dis</h1>

<table>
  <thead>
    <tr>
      <th>Investigador</th>
      <th>Disciplina</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @i_dis.each do |i_di| %>
      <tr>
        <td><%= i_di.investigador_id %></td>
        <td><%= i_di.disciplina_id %></td>
        <td><%= link_to 'Show', i_di %></td>
        <td><%= link_to 'Edit', edit_i_di_path(i_di) %></td>
        <td><%= link_to 'Destroy', i_di, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New I Di', new_i_di_path %>
