<p id="notice"><%= notice %></p>

<p>
  <strong>Rf colaboracion:</strong>
  <%= @rfc_a.rf_colaboracion_id %>
</p>

<p>
  <strong>Investigador:</strong>
  <%= @rfc_a.investigador %>
</p>

<%= link_to 'Edit', edit_rfc_a_path(@rfc_a) %> |
<%= link_to 'Back', rfc_as_path %>
