<h3 class='text-info'>Registrar Pasantía de Externo</h3>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :tipo_pasante, label: 'Tipo de Pasante', sel_list: PasantiaExterno::TIPOS_PASANTE } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :nombres, label: 'Nombres' } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :paterno, label: 'Apellido Paterno' } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :materno, label: 'Apellido Materno' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :grado_academico, label: 'Grado Académico', sel_list: PasantiaExterno::GRADOS_ACADEMICOS } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :pais, label: 'País de Procedencia', sel_list: Pais.all.map {|pais| pais.pais} } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :institucion_procedencia, label: 'Institución de Procedencia' } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :institucion_pasantia, label: 'Institución donde será Pasante' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :region, label: 'Región', sel_list: lgen_regiones } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text_area', token: :descripcion_pasantia, label: 'Descripción de Pasantía' } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'date', token: :fecha_inicio, label: 'Fecha Inicio' } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'date', token: :fecha_termino, label: 'Fecha Término' } %>


<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'hidden', token: :propietario } %>
