<%= render partial: '0p/general/titulo', locals: {c: 'tema_ayudas', a: nil, titulo: "Temas Inicio | #{@tab}", size: '5', bg_color: 'bg-'+c_color('tema_ayudas')} %>

<%= render partial: '0p/tabs/tabs', locals: {tabs: @tabs, tag: 'tab', active: @tab} %>

<% unless @coleccion['tema_ayudas'].empty? %>
	<table class="table table-sm  thead-dark">
		<tbody>
			<% @coleccion['tema_ayudas'].each do |ta| %>

				<% if @tab == 'tema' %>
					<%= render partial: 'help/0help/tema_ayuda/tema_ayuda', locals: {objeto: ta} %>
				<% else %>

					<tr><td><%= "| #{ta.orden} | "%><%= link_to ta.tema_ayuda, ta %><%=" |" %></td><td><%= render partial: '0p/tabla/btns', locals: {a: 'index', objeto: ta} %></td></tr>
					<tr>
					<td colspan="3">
						<% case @tab %>
						<% when 'portada' %>
							<%= render partial: 'help/0help/tema_ayuda/0h_ilustracion', locals: {objeto: ta, class_image: config_portada(:clase), size: config_portada(:size)} %>
						<% when 'foot' %>
							<%= render partial: 'help/0help/tema_ayuda/0h_ilustracion', locals: {objeto: ta, class_image: config_foot(:clase), size: config_foot(:size)} %>
						<% when 'inicio' %>
							<%= render partial: 'help/0help/tema_ayuda/home_elemento', locals: {objeto: ta} %>
						<% when 'mensaje' %>
							<div class='row'>
								<div class='col-md-6'>
								</div>
								<div class='col-md-6'>
									<%= render partial: 'help/0help/tema_ayuda/mensaje', locals: {objeto: ta} %>
								</div>
							</div>
						<% end %>
					</td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
<% end %>

<%= render partial: '0p/tabla/btn_nuevo', locals: {c: 'tema_ayudas'} if session[:es_administrador] %>
