<p id="notice"><%= notice %></p>

<p>
  <strong>Rf colaboracion:</strong>
  <%= @rfc_fjo.rf_colaboracion_id %>
</p>

<p>
  <strong>Formacion joven:</strong>
  <%= @rfc_fjo.formacion_joven_id %>
</p>

<%= link_to 'Edit', edit_rfc_fjo_path(@rfc_fjo) %> |
<%= link_to 'Back', rfc_fjos_path %>
