<%= form_with(model: ad_po, local: true) do |form| %>
  <% if ad_po.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ad_po.errors.count, "error") %> prohibited this ad_po from being saved:</h2>

      <ul>
      <% ad_po.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :actividad_difusion_id %>
    <%= form.number_field :actividad_difusion_id %>
  </div>

  <div class="field">
    <%= form.label :publico_objetivo_id %>
    <%= form.number_field :publico_objetivo_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
