<p id="notice"><%= notice %></p>

<p>
  <strong>Actividad difusion:</strong>
  <%= @ad_po.actividad_difusion_id %>
</p>

<p>
  <strong>Publico objetivo:</strong>
  <%= @ad_po.publico_objetivo_id %>
</p>

<%= link_to 'Edit', edit_ad_po_path(@ad_po) %> |
<%= link_to 'Back', ad_pos_path %>
