<%= form_with(model: rc_i, local: true) do |form| %>
  <% if rc_i.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rc_i.errors.count, "error") %> prohibited this rc_i from being saved:</h2>

      <ul>
      <% rc_i.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :r_colaboracion_id %>
    <%= form.number_field :r_colaboracion_id %>
  </div>

  <div class="field">
    <%= form.label :investigador_id %>
    <%= form.number_field :investigador_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
