<p id="notice"><%= notice %></p>

<h1>Rc Is</h1>

<table>
  <thead>
    <tr>
      <th>R colaboracion</th>
      <th>Investigador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rc_is.each do |rc_i| %>
      <tr>
        <td><%= rc_i.r_colaboracion_id %></td>
        <td><%= rc_i.investigador_id %></td>
        <td><%= link_to 'Show', rc_i %></td>
        <td><%= link_to 'Edit', edit_rc_i_path(rc_i) %></td>
        <td><%= link_to 'Destroy', rc_i, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rc I', new_rc_i_path %>
