<p id="notice"><%= notice %></p>

<p>
  <strong>R colaboracion:</strong>
  <%= @rc_i.r_colaboracion_id %>
</p>

<p>
  <strong>Investigador:</strong>
  <%= @rc_i.investigador_id %>
</p>

<%= link_to 'Edit', edit_rc_i_path(@rc_i) %> |
<%= link_to 'Back', rc_is_path %>
