<p id="notice"><%= notice %></p>

<h1>Fj Nfores</h1>

<table>
  <thead>
    <tr>
      <th>Formacion joven</th>
      <th>Nivel formacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fj_nfores.each do |fj_nfor| %>
      <tr>
        <td><%= fj_nfor.formacion_joven_id %></td>
        <td><%= fj_nfor.nivel_formacion_id %></td>
        <td><%= link_to 'Show', fj_nfor %></td>
        <td><%= link_to 'Edit', edit_fj_nfor_path(fj_nfor) %></td>
        <td><%= link_to 'Destroy', fj_nfor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fj Nfor', new_fj_nfor_path %>
