<p id="notice"><%= notice %></p>

<p>
  <strong>Formacion joven:</strong>
  <%= @fj_nfor.formacion_joven_id %>
</p>

<p>
  <strong>Nivel formacion:</strong>
  <%= @fj_nfor.nivel_formacion_id %>
</p>

<%= link_to 'Edit', edit_fj_nfor_path(@fj_nfor) %> |
<%= link_to 'Back', fj_nfores_path %>
